::ng-deep {

    .p-card {
        background: var(--surface-card);
        border: 1px solid var(--surface-border);
        padding: 0.5rem;
        margin-bottom: 2rem;
        box-shadow: var(--card-shadow);
        border-radius: 12px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }

    .p-card-content {
        padding: 0;
    }

    .col-12 {
        padding: 1rem;
    }

}

.layout-content-wrapper {
    padding: 2rem
}
